<p></p>
  <h5 class="h5 list-group-item list-group-item-action active">Files:</h5>
  <p></p>

  {% if user.has_files() %}
    {% for file in user.files %}
    <a href="{{ user.load_link(file) }}" class="h5 list-group-item list-group-item-action">{{ file.name }}</a>
    <a href="/user/{{ file.name }}/delete/"><button type="button" class="btn btn-danger">Delete</button></a>
    <p></p>
  {% endfor %}

  {% else %}
    <p class="h5 list-group-item list-group-item-action">Files not found..</p>
  {% endif %}
