<main class="form-signin">
  <form action="/" method="post">
    <h1 class="h3 mb-3 fw-normal">Please, enter the required data:</h1>
    <h5 class="h6 mb-3 fw-normal">Get your authorization code via <a target="_blank" href="{{ auth_link }}">link</a>:</h5>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="auth_code" placeholder="Password">
      <label for="floatingPassword">Authorization code</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Get started!</button>

  </form>
</main>



